body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

main {
    height: 1439px;
}

.nav {
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    float: left;
}

.nav-link {
    color: #ff0000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    padding: 0 36px;
}

.mobile-img {
    width: 100%;
    height: auto;
}

.text-container {
    height: 650px;
    text-align: center;
}

.text-title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    line-height: 26.82px;
    margin: 48px 253px 38px 253px;
}

.text-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0 67.5px 28px 67.5px;
}

.button-red {
    text-align: center;
    background: #ff0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    border: none;
    margin: 38px 0 0 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.8px;
}

.footer-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    margin: 0;
    padding-right: 105px;
    padding-top: 40px;
}

.footer-container {
    height: 108px;
    text-align: right;
}
